<div class='row'>

  <div class="form_cont">
    <h2>ジャンル追加</h2>
    <%= form_for (@category), url: admins_categories_path do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "name" %>
    </div>
    <div class="field">
      <%= f.radio_button :active_status, :true %>
      <%= f.label :active_status, "有効", {value: :true, style: "display: inline-block;"} %>
      <%= f.radio_button :active_status, :false %>
      <%= f.label :active_status, "無効", {value: :false, style: "display: inline-block;"} %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  </div>


  <table class='table'>
    <thead>
      <tr>
        <th>ジャンル</th>
        <th>有効</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <% if category.active_status == true %>
          <p>有効</p>
          <% else %>
         <p>無効</p>
        <% end %>
      </td>
        <td><%= link_to '編集', edit_admins_category_path(category) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>


</div>
