<div class="container">
<div class="row">
        <div class="col-sm-3 no-gutters">
        <div class="sidebar orange_bg">
            <%= image_tag('logo.png', class: "sidebar_img") %>
            <h2 class="category_txt white_txt bold">ジャンル検索</h2>
            <ul class="center">
                <li><a href="" class="white_txt">ケーキ</a></li>
                <li><a href="" class="white_txt">焼き菓子</a></li>
                <li><a href="" class="white_txt">プリン</a></li>
                <li><a href="" class="white_txt">キャンディ</a></li>
            </ul>
        </div>
        </div>
        <div class="col-sm-8 no-gutters">
        <div>
          <%= image_tag('main.jpg', class: "main_img") %>
      </div>
      <div class="product_index">
           <h2 class="midashi_txt brown_txt bold">おすすめ商品</h2>
        <div class="col-sm-5 col-md-4 ">
            <a href="#">
             <%= image_tag('yakigashi.jpg', class: "product_img") %>
            </a>
        </div>
        <div class="col-sm-5 col-md-4">
            <a href="#">
             <%= image_tag('yakigashi.jpg', class: "product_img") %>
            </a>
        </div>
        <div class="col-sm-5 col-md-4"><a href="#">
             <%= image_tag('yakigashi.jpg', class: "product_img") %>
            </a>
        </div>
        <div class="col-sm-5 col-md-4"><a href="#">
             <%= image_tag('yakigashi.jpg', class: "product_img") %>
            </a>
        </div>
        <div class="col-sm-5 col-md-4"><a href="#">
             <%= image_tag('yakigashi.jpg', class: "product_img") %>
            </a>
        </div>
        <div class="col-sm-5 col-md-4"><a href="#">
             <%= image_tag('yakigashi.jpg', class: "product_img") %>
            </a>
        </div>
       </div>
    </div>
</div>
</div>
