<div class="container">
<div class="row">
        <div class="col-sm-3 no-gutters">
        <div class="sidebar orange_bg">
            <%= image_tag('logo.png', class: "sidebar_img") %>
            <h2 class="category_txt white_txt bold">ジャンル検索</h2>
            <ul class="center">
                <% @categories.each do |category| %>
                <li><a href="" class="white_txt"><%= category.name %></a></li>
                <% end %>
            </ul>
        </div>
        </div>
        <div class="col-sm-8 no-gutters">
        <div class="main_visual">
          <%= image_tag('main.jpg', class: "main_img") %>
          <div class="main_txt white_txt">
            <p class="txtm bold">Welcome to NaganoCake !!</p>
            <p class="txtxs">このサイトは、ケーキ販売のECサイトになります。<br>会員でない方も商品の閲覧はできますが、<br>購入には会員登録が必要になります。</p>
        </div>
      </div>
      <div class="product_index">
           <h2 class="midashi_txt brown_txt bold">おすすめ商品</h2>
        <div class="col-sm-6 col-md-4 product_link">
            <a href="#">
             <%= image_tag('yakigashi.jpg', class: "product_img") %>
             <p class="txts brown_txt">焼き菓子</p>
             <p class="txts brown_txt">¥500</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 product_link">
            <a href="#">
             <%= image_tag('yakigashi.jpg', class: "product_img") %>
             <p class="txts brown_txt">焼き菓子</p>
             <p class="txts brown_txt">¥500</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 product_link">
            <a href="#">
             <%= image_tag('yakigashi.jpg', class: "product_img") %>
             <p class="txts brown_txt">焼き菓子</p>
             <p class="txts brown_txt">¥500</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 product_link">
            <a href="#">
             <%= image_tag('yakigashi.jpg', class: "product_img") %>
             <p class="txts brown_txt">焼き菓子</p>
             <p class="txts brown_txt">¥500</p>
            </a>
        </div>
        <div class="col-sm-6 col-md-4 product_link">
            <a href="#">
             <%= image_tag('yakigashi.jpg', class: "product_img") %>
             <p class="txts brown_txt">焼き菓子</p>
             <p class="txts brown_txt">¥500</p>
            </a>
        </div>
       <div class="col-sm-6 col-md-4 product_link">
            <a href="#">
             <%= image_tag('yakigashi.jpg', class: "product_img") %>
             <p class="txts brown_txt">焼き菓子</p>
             <p class="txts brown_txt">¥500</p>
            </a>
        </div>
       </div>
    </div>
</div>
</div>
