	<div class="row mypage">
		  <h2 class="midashi_txt">マイページ</h2>
		    <h2 class="brown_txt bold">登録情報</h2>
             	<%= link_to "編集する", edit_customer_path(@customer.id), class: "edit_btn" %>
             	<%= link_to "パスワードを変更する", edit_customer_password_path(current_customer.id), class: "destroy_btn" %>
            	<table class="table txts table-inverse table-bordered">
			        <tr>
			          <td>氏名</td>
			          <td><%= @customer.last_name %><%= @customer.first_name %></td>
			        </tr>
			        <tr>
			          <td>フリガナ</td>
			          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
			        </tr>
			        <tr>
			          <td>郵便番号</td>
			          <td><%= @customer.postcode %></td>
			        </tr>
			        <tr>
			          <td>住所</td>
			          <td><%= @customer.address %></td>
			        </tr>
			        <tr>
			          <td>電話番号</td>
			          <td><%= @customer.phone_number %></td>
			        </tr>
			        <tr>
			          <td>メールアドレス</td>
			          <td><%= @customer.email %></td>
			        </tr>
			    </table>
			          <h2 class="brown_txt bold">配送先</h2>
			             	<%= link_to "一覧を見る", shipping_addresses_path(@customer.id), class: "return_btn" %>
			          <h2 class="brown_txt bold">注文履歴</h2>
			          <%= link_to "一覧を見る", orders_path(@customer.id), class: "return_btn" %>
	    </div>

