<div class="container">
  <div class="row">
    <div class="form">
      <h2 class="form_midashi midashi_txt center bold">ログイン</h2>
      <form class="form_cont">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, class: "form_label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_input" %>
        </div>

        <div class="field">
          <%= f.label :password, class: "form_label" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form_input" %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "brown_txt bold" %>
        </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "form_submit white_txt bold" %>
        </div>
        <% end %>

        <%= render "customers/shared/links" %>
      </form>
    </div>
  </div>
</div>

