<%= form_for (@product), url: admins_products_path do |f| %>
	<div class="field row">
		<%= f.label :name %>
		<%= f.text_field :name, class: "col-xs-12 product_title" %>
	</div>

	<div class="field row">
		<%= f.label :description %>
		<%= f.text_area :description, class: "col-xs-12 product_body" %>
	</div>

		<div class="field row">
		<%= f.label :price %>
		<%= f.text_field :price, class: "col-xs-12 product_body" %>
	</div>


	<div class="field">
		<%= f.label :image %>
		<%= f.attachment_field :image, class: "product_image" %>
	</div>

		<%#<div class="field row">
		<%= f.label :category_id %>
		<%#<%= f.text_field :category_id, class: "col-xs-12 product_body" %>
	<%#</div>%>
	<div class=“field row”>
		<%= f.label :category_id %>
		<%= f.collection_select :category_id, @categories, :id, :name, include_blank: "選択してください" %>
	</div>

	<div class=“field”>
		<%= f.label :sale_status %>
		<%= f.select :sale_status, [["販売中",true],["売り切れ",false]] %>
	</div>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>
<% end %>