<div class="container">
<div class="row">
        <div class="col-sm-3 no-gutters">
        <div class="sidebar orange_bg">
            <%= image_tag('logo.png', class: "sidebar_img") %>
            <h2 class="category_txt white_txt bold">ジャンル検索</h2>
            <ul class="center">
                <% @categories.each do |category| %>
                <li><a href="" class="white_txt"><%= category.name %></a></li>
                <% end %>
            </ul>
        </div>
        </div>
        <div class="col-sm-8 no-gutters">
        <div class="product_index">
          <h2 class="midashi_txt brown_txt bold">商品一覧全<%= @products.count %>件</h2>
          <% @products.each do |product| %>
              <div class="col-sm-6 col-md-4 product_link">
                <td><%= link_to(product_path(product)) do %>
                <%= attachment_image_tag product, :image, :fill, 100, 100, format: 'jpeg', class: "img-square pull-left image_id", fallback: "purin.jpg" %>
                <% end %>
              </td>
                <td>商品名</td>
                <p><%= product.name %></p>
                <p>￥<%= product.price %></p>
              </div>
              <%= paginate @products %>
            <% end %>


        </div>
       </div>
</div>
</div>
