<h1>注文履歴詳細</h1>


購入者
<%= @order.customer.name_all %>

配送先
<%= @order.postcode %><%= @order.address %><%= @order.direction %>

支払い方法
<%= @order.pay_type %>




注文ステータス

<%= form_for (@order), url: admins_order_path do |f| %>
	<%#enum用のセレクトらしい%>
	<%= f.select :buy_status, Order.buy_statuses.keys, :selected=>Order.buy_statuses[@order.buy_status] %>
<%#初期値設定まだしてない%>
	<%= f.submit "更新" %></td>
<% end %>