<h1>注文履歴詳細</h1>


購入者
<%= @order.customer.name_all %>

配送先
<%= @order.postcode %><%= @order.address %><%= @order.direction %>

支払い方法
<%= @order.pay_type %>




注文ステータス

<%= form_for (@order), url: admins_order_path do |f| %>
	<%#= f.select :buy_status, options_for_select((1..3), {selected: @order.buy_status.to_i} ) %>
	<%= f.select :buy_status, {'入金待ち': 0, '入金完了': 1, '発送準備中': 2, '発送済': 3} %>
<%#初期値設定するする%>
	<%= f.submit "更新" %></td>
<% end %>