<header class="navbar navbar-fixed-top ">
  <div class="container">
    <p id= "notice" class="notice"><%= notice %></p>
    <nav class='nav navbar-nav navbar-left' >
      <%= image_tag('logo.png', class: "logo_img") %>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
            <% if customer_signed_in? %>
          <li><p class="customer-name_txt brown_txt bold">ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん！</p></li>
          <li><a href="" class="nav_txt">マイページ</a></li>

          <li><a href="" class="nav_txt">商品一覧</a></li>

          <li><a href="" class="nav_txt">カート一覧</a></li>

          <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "nav_txt" %></li>

          <% elsif admin_signed_in? %>
          <li><a href="" class="nav_txt">商品一覧</a></li>

          <li><a href="" class="nav_txt">会員一覧</a></li>

          <li><a href="" class="nav_txt">注文一覧</a></li>

          <li><a href="" class="nav_txt">ジャンル一覧</a></li>

          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav_txt" %></li>

        <% else %>
          <li><a href="" class="nav_txt">商品一覧</a></li>

          <li><%= link_to '新規登録', new_customer_registration_path, class: "nav_txt" %></li>

          <li><%= link_to 'ログイン', new_customer_session_path, class: "nav_txt" %></li>
    <% end %>
      </ul>

    </nav>

  </div>
</header>